Repository playcanvas/developer-site, pull requests merged in 2024-12, with the labels that each got.

#676 Added info for AMD/Nvidia/Meta profilers
  docs/user-manual/optimization/gpu-profiling.md
Labels: enhancement

#679 Fix node.js multiplayer tutorial
  docs/tutorials/real-time-multiplayer.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/real-time-multiplayer.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/models/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/models/units.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/preloading-and-streaming.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/css.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/html.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/shader.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/billing/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/launch-page/custom-engine.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/getting-started/your-first-app.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/advanced-rendering/hardware-instancing.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/optimization/runtime-devicepixelratio.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/publishing/web/communicating-webpage.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/publishing/web/self-hosting-for-beginners.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/rigidbody.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/settings.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/communication.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/creating-new.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/migration-guide.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/script-attributes.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/templates/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/capabilities.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/input-sources.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/optimizing-webxr.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/using-webxr.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/vr/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/vr/types-of-vr.md
  static/img/tutorials/multiplayer/glitch-add-package.png
  static/img/tutorials/multiplayer/glitch-error.png
  static/img/tutorials/multiplayer/glitch_add_package.png
  static/img/tutorials/multiplayer/glitch_error.png
  static/img/tutorials/multiplayer/project-settings.png
  static/img/tutorials/multiplayer/project_settings.png
Labels: bug, docs

#682 Add page on running the engine in Node.js
  docs/user-manual/engine/running-in-node.md
Labels: docs

#681 Publishing Flow for heyVR.io
  docs/user-manual/publishing/web/hosting-heyvr.md
  docs/user-manual/publishing/web/index.md
Labels: docs
