Repository playcanvas/developer-site, pull requests merged in 2024-01, with the labels that each got.

#538 Fixed react rendering error. Renamed `class` attribute in markdown wi…
  docs/tutorials/Using-forces-on-rigid-bodies.md
  docs/tutorials/additive-loading-scenes.md
  docs/tutorials/anim-blending.md
  docs/tutorials/animated-textures.md
  docs/tutorials/animation-blending.md
Labels: bug

#540 Added gh-pages workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  docusaurus.config.js
Labels: enhancement, docs

#542 Use vanilla markdown for REST API
  docs/user-manual/api/app-download.md
  docs/user-manual/api/app-get-primary.md
  docs/user-manual/api/app-get-project.md
  docs/user-manual/api/app-get.md
  docs/user-manual/api/asset-create.md
  docs/user-manual/api/asset-delete.md
  docs/user-manual/api/asset-file.md
  docs/user-manual/api/asset-get.md
  docs/user-manual/api/asset-list.md
  docs/user-manual/api/asset-update.md
  docs/user-manual/api/branch-list.md
  docs/user-manual/api/index.md
  docs/user-manual/api/job-get.md
  docs/user-manual/api/project-archive.md
  docs/user-manual/api/scene-list.md
Labels: bug, docs

#543 Add docs on text markup syntax
  docs/user-manual/user-interface/text-elements.md
  static/images/user-manual/user-interface/text-element/enable-markup.png
  static/images/user-manual/user-interface/text-element/text-markup.png
Labels: enhancement, docs

#544 Update Japanese translations for REST API
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/app-download.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/app-get-primary.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/app-get-project.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/app-get.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-create.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-delete.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-file.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-get.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-list.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/asset-update.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/branch-list.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/job-get.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/project-archive.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/scene-list.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/user-interface/text-elements.md
Labels: translation

#545 Fix broken anchors
  docs/tutorials/mouse-input.md
  docs/user-manual/animation/anim-layer-masking.md
  docs/user-manual/api/project-archive.md
  docs/user-manual/packs/loading-scenes.md
Labels: bug, docs

#546 Make all headings consistent
  docs/tutorials/real-time-multiplayer-colyseus.md
  docs/tutorials/real-time-multiplayer-photon.md
  docs/user-manual/2D/index.md
  docs/user-manual/2D/texture-packing.md
  docs/user-manual/animation/index.md
  docs/user-manual/graphics/physical-rendering/index.md
  docs/user-manual/graphics/physical-rendering/physical-materials.md
  docs/user-manual/profile/projects.md
  docs/user-manual/publishing/web/self-hosting-for-beginners.md
  docs/user-manual/scripting/anatomy.md
  docs/user-manual/user-interface/elements.md
Labels: bug, docs

#550 Tweak AR Integrations pages
  docs/user-manual/xr/ar/8th-wall-integration.md
  docs/user-manual/xr/ar/zappar-integration.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/ar/8th-wall-integration.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/ar/zappar-integration.md
Labels: enhancement, docs

#551 Update images in Scripting section
  docs/user-manual/scripting/communication.md
  docs/user-manual/scripting/creating-new.md
  docs/user-manual/scripting/debugging.md
  docs/user-manual/scripting/script-attributes.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/communication.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/creating-new.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/debugging.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/script-attributes.md
  static/images/user-manual/scripting/code-editor-new-script.png
  static/images/user-manual/scripting/code-editor.jpg
  static/images/user-manual/scripting/debugging/chrome-debugger.jpg
  static/images/user-manual/scripting/debugging/chrome-debugger.png
  static/images/user-manual/scripting/debugging/firefox-debugger.jpg
  static/images/user-manual/scripting/debugging/firefox-debugger.png
  static/images/user-manual/scripting/new-script.jpg
  static/images/user-manual/scripting/new-script.png
  static/images/user-manual/scripting/parse-button.jpg
  static/images/user-manual/scripting/script-attributes.jpg
  static/images/user-manual/scripting/script-attributes.png
  static/images/user-manual/scripting/script-parse-button.png
  static/images/user-manual/scripting/select-script.jpg
  static/images/user-manual/scripting/select-script.png
Labels: enhancement, docs

#552 Warn about deprecated components
  docs/user-manual/scenes/components/anim.md
  docs/user-manual/scenes/components/animation.md
  docs/user-manual/scenes/components/audiolistener.md
  docs/user-manual/scenes/components/button.md
  docs/user-manual/scenes/components/camera.md
  docs/user-manual/scenes/components/collision.md
  docs/user-manual/scenes/components/element.md
  docs/user-manual/scenes/components/index.md
  docs/user-manual/scenes/components/layout-child.md
  docs/user-manual/scenes/components/layout-group.md
  docs/user-manual/scenes/components/light.md
  docs/user-manual/scenes/components/model.md
  docs/user-manual/scenes/components/particlesystem.md
  docs/user-manual/scenes/components/render.md
  docs/user-manual/scenes/components/rigidbody.md
  docs/user-manual/scenes/components/screen.md
  docs/user-manual/scenes/components/script.md
  docs/user-manual/scenes/components/scrollbar.md
  docs/user-manual/scenes/components/scrollview.md
  docs/user-manual/scenes/components/sound.md
  docs/user-manual/scenes/components/sprite.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/anim.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/animation.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/audiolistener.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/button.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/camera.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/collision.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/element.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/layout-child.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/layout-group.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/light.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/model.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/particlesystem.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/render.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/rigidbody.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/screen.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/script.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/scrollbar.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/scrollview.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/sound.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/components/sprite.md
Labels: enhancement, docs

#554 Remove IE11 support from the docs
  docs/user-manual/introduction.md
Labels: enhancement

#567 Add Launch Page docs
  .tx/config
  docs/tutorials/collision-and-triggers.md
  docs/user-manual/editor/launch-page.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/launch-page.md
  static/images/user-manual/editor/launch-page/launch-button.png
  static/images/user-manual/editor/launch-page/launch-page-live-link.gif
  static/images/user-manual/editor/launch-page/launch-page-side-by-side.png
Labels: docs

#568 Repair Japanese anchors
  docs/user-manual/api/index.md
  docs/user-manual/editor/menus-and-toolbar.md
  docs/user-manual/editor/settings.md
  docs/user-manual/glossary.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/api/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/menus-and-toolbar.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/settings.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/glossary.md
Labels: bug, docs, translation
