Repository playcanvas/developer-site, pull requests merged in 2025-06, with the labels that each got.

#756 Move shader chunk migrations page into shaders section
  docs/user-manual/graphics/shaders/glsl-specifics.md
  docs/user-manual/graphics/shaders/migrations.md
  docs/user-manual/graphics/shaders/wgsl-specifics.md
  docusaurus.config.js
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/shaders/glsl-specifics.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/shaders/migrations.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/shaders/wgsl-specifics.md
Labels: enhancement, docs

#757 Translate Asset section
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/asset-store/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/asset-store/sketchfab.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/models/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/models/units.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/audio.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/cubemap.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/gsplat.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/json.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/material.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/render.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/template.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/text.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/texture.md
Labels: enhancement, docs

#758 Reorganize Graphics section pages
  docs/user-manual/graphics/advanced-rendering/index.md
  docs/user-manual/graphics/gaussian-splatting.md
  docs/user-manual/graphics/layers/index.md
  docs/user-manual/graphics/particles.md
  docs/user-manual/graphics/shaders/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/advanced-rendering/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/gaussian-splatting.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/layers/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/particles.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/shaders/index.md
Labels: enhancement, docs

#759 Update Graphics section intro
  docs/user-manual/graphics/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/index.md
Labels: enhancement, docs

#761 Move Web Components section up a level
  docs/user-manual/editor/index.md
  docs/user-manual/web-components/building-a-scene.md
  docs/user-manual/web-components/getting-started.md
  docs/user-manual/web-components/index.md
  docs/user-manual/web-components/scripting.md
  docs/user-manual/web-components/tags/index.md
  docs/user-manual/web-components/tags/pc-app.md
  docs/user-manual/web-components/tags/pc-asset.md
  docs/user-manual/web-components/tags/pc-camera.md
  docs/user-manual/web-components/tags/pc-collision.md
  docs/user-manual/web-components/tags/pc-element.md
  docs/user-manual/web-components/tags/pc-entity.md
  docs/user-manual/web-components/tags/pc-light.md
  docs/user-manual/web-components/tags/pc-listener.md
  docs/user-manual/web-components/tags/pc-model.md
  docs/user-manual/web-components/tags/pc-module.md
  docs/user-manual/web-components/tags/pc-particles.md
  docs/user-manual/web-components/tags/pc-render.md
  docs/user-manual/web-components/tags/pc-rigidbody.md
  docs/user-manual/web-components/tags/pc-scene.md
  docs/user-manual/web-components/tags/pc-screen.md
  docs/user-manual/web-components/tags/pc-script.md
  docs/user-manual/web-components/tags/pc-scripts.md
  docs/user-manual/web-components/tags/pc-sky.md
  docs/user-manual/web-components/tags/pc-sound.md
  docs/user-manual/web-components/tags/pc-sounds.md
  docs/user-manual/web-components/tags/pc-splat.md
  docs/user-manual/web-components/xr.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/building-a-scene.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/getting-started.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/scripting.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-app.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-asset.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-camera.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-collision.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-element.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-entity.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-light.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-listener.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-model.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-module.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-particles.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-render.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-rigidbody.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-scene.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-screen.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-script.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-scripts.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-sky.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-sound.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-sounds.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-splat.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/xr.md
Labels: enhancement, docs

#762 Improve Web Components introduction
  docs/user-manual/assets/types/gsplat.md
  docs/user-manual/web-components/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/assets/types/gsplat.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/index.md
Labels: enhancement, docs

#763 Add scriptName field to all ESM script examples
  docs/user-manual/scripting/editor-users/hot-reloading.md
  docs/user-manual/scripting/fundamentals/esm-scripts.md
  docs/user-manual/scripting/fundamentals/events.md
  docs/user-manual/scripting/fundamentals/getting-started.md
  docs/user-manual/scripting/fundamentals/script-attributes/esm.md
  docs/user-manual/scripting/index.md
  docs/user-manual/scripting/migration-guide.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/editor-users/hot-reloading.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/esm-scripts.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/events.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/getting-started.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/script-attributes/esm.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/migration-guide.md
Labels: bug, docs

#764 Import Entity in ESM example
  docs/user-manual/scripting/fundamentals/getting-started.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/getting-started.md
Labels: bug, docs

#766 Document ESM attribute type imports
  docs/user-manual/scripting/fundamentals/script-attributes/esm.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/fundamentals/script-attributes/esm.md
Labels: bug, docs

#771 Delete Editor migrations and rename FAQ
  docs/user-manual/editor/editor-api.md
  docs/user-manual/editor/index.md
  docs/user-manual/editor/migrations.md
  docs/user-manual/editor/troubleshooting.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/editor-api.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/migrations.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/troubleshooting.md
  static/img/user-manual/editor/editor-v2/edge-filter.png
  static/img/user-manual/editor/editor-v2/gamma-compare.png
  static/img/user-manual/editor/editor-v2/gamma-tonemap-settings.png
  static/img/user-manual/editor/editor-v2/prefiltered-data.png
Labels: enhancement, docs

#749 WGSL manual page
  docs/user-manual/graphics/shaders/glsl-specifics.md
  docs/user-manual/graphics/shaders/index.md
  docs/user-manual/graphics/shaders/migrations.md
  docs/user-manual/graphics/shaders/wgsl-specifics.md
  docs/user-manual/pcui/pcui-graph/context-menus.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/shaders/index.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/pcui/pcui-graph/context-menus.md
Labels: docs

#775 Add admonition about custom engine type
  docs/user-manual/editor/launch-page/custom-engine.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/launch-page/custom-engine.md
Labels: enhancement, docs

#776 Web Components: document scriptName
  docs/user-manual/web-components/scripting.md
  docs/user-manual/web-components/tags/pc-script.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/scripting.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/web-components/tags/pc-script.md
Labels: enhancement, docs
