Repository playcanvas/developer-site, pull requests merged in 2025-05, with the labels that each got.

#744 Update remaining API links
  docs/tutorials/Using-forces-on-rigid-bodies.md
  docs/user-manual/editor/editor-api.md
  docs/user-manual/pcui/getting-started.md
  docs/user-manual/scenes/loading-scenes.md
  docs/user-manual/xr/vr/types-of-vr.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/Using-forces-on-rigid-bodies.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/editor-api.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/loading-scenes.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/xr/vr/types-of-vr.md
Labels: enhancement

#745 Fix casing of API link anchors
  docs/shader-editor/window-layout/inspector-pane/material-inspector.md
  docs/tutorials/Using-forces-on-rigid-bodies.md
  docs/tutorials/entity-picking.md
  docs/tutorials/first-person-movement.md
  docs/tutorials/webxr-ray-input.md
  docs/user-manual/editor/interface/assets.md
  docs/user-manual/graphics/advanced-rendering/hardware-instancing.md
  docs/user-manual/graphics/cameras/depth-layer.md
  docs/user-manual/graphics/lighting/clustered-lighting.md
  docs/user-manual/graphics/particles.md
  docs/user-manual/optimization/guidelines.md
  docs/user-manual/optimization/runtime-devicepixelratio.md
  docs/user-manual/scenes/loading-scenes.md
  docs/user-manual/user-interface/localization.md
  i18n/ja/docusaurus-plugin-content-docs/current/shader-editor/window-layout/inspector-pane/material-inspector.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/Using-forces-on-rigid-bodies.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/entity-picking.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/first-person-movement.md
  i18n/ja/docusaurus-plugin-content-docs/current/tutorials/webxr-ray-input.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/editor/interface/assets.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/advanced-rendering/hardware-instancing.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/cameras/depth-layer.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/lighting/clustered-lighting.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/graphics/particles.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/optimization/guidelines.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/optimization/runtime-devicepixelratio.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scenes/loading-scenes.md
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/user-interface/localization.md
Labels: bug

#746 Improve MiniStats page
  docs/user-manual/optimization/mini-stats.md
  static/img/user-manual/optimization/mini-stats/launch-menu-mini-stats.png
Labels: enhancement, docs

#754 Add Import Maps docs
  i18n/ja/docusaurus-plugin-content-docs/current/user-manual/scripting/editor-users/import-maps.md
Labels: enhancement, docs
